* {
  color: #a0bed6;
  background-color: #1a1b26;
}

#typing-area {
  --line-height: 2rem;
  --lines-to-show: 3;

  position: relative;

  font-family: "Ubuntu", "Roboto Mono", "Vazeirmatn", monospace;
  font-size: 1.5rem;
  margin: 0 48px 0 48px;
  line-height: var(--line-height);

  display: -webkit-box;
  -webkit-line-clamp: var(--lines-to-show);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#typing-area:focus {
  outline: none;
}

#caret {
  position: absolute;

  width: 3px;
  height: 2rem;
  background-color: #a0bed6;

  transition: transform 0.1s ease;

  /* opacity: 0; */
  left: 0;
  top: 0;
}

.word {
  display: inline-block;
  margin: 0.25em;
}

/* Optional: Styling for letters */
.char {
  white-space: pre;
  display: inline-block;
}
.char.correct {
  color: #90eea6;
}
.char.skipped {
  color: #fae886;
}
.char.incorrect {
  color: #e84411;
}
.char.active {
  /* No border needed here, the floating div does the job */
}
