* {
  color: #a0bed6;
  background-color: #1a1b26;
}

#typing-area {
  position: relative;
  font-family: "Ubuntu", "Roboto Mono", "Vazeirmatn", monospace;
  margin: 0 48px 0 48px;
  /* padding: 0 16px 0 16px; */
  font-size: 1.5rem;
  line-height: 2rem;
}
#typing-area:focus {
  outline: none;
}

#caret {
  position: absolute;

  width: 3px;
  height: 2rem;
  background-color: #a0bed6;

  transition: transform 0.1s ease;

  /* opacity: 0; */
  left: 0;
  top: 0;
}

.word {
  display: inline-block;
  margin: 0.25em;
}

/* Optional: Styling for letters */
.char {
  white-space: pre;
  display: inline-block;
}
.char.correct {
}
.char.incorrect {
  color: #e84411;
}
.char.active {
  /* No border needed here, the floating div does the job */
}
